/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------------Important------------------------------- */

:root {
    --bg-color: #121212;
    --text-color: #f0f2f5;
    --container-bg: #242424;
    --link-color: #00b7ff;
    --border-color: #444;
    --button-color: #ffffff;
}

/* -------------------------------Important------------------------------- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.8;
    padding: 20px;
}

/* -------------------------------Main container------------------------------- */
.container {
    max-width: 900px;
    margin: 20px auto;
    background: var(--container-bg);
    padding: 50px;
    border-radius: 35px;
    box-shadow: 0 7px 60px rgba(0, 0, 0, 0.6);
}
/* -------------------------------Main container------------------------------- */

h1, h2, h3 {
    color: var(--text-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
.contact {
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact img {
    width: 130px;
    height: 130px;
    border-radius: 35%;
    object-fit: cover;
    border: 3px solid var(--link-color);
}
.contact p, .contact a {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--text-color);
}
.contact a {
    text-shadow: 0.2px 0.2px 4px rgba(0, 0, 0, 0.2);
    color: var(--link-color);
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
}
ul li:last-child {
    border-bottom: none;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.skills-column {
    width: 48%;
}

/* -------------------------------Theme preferences------------------------------- */

.theme-toggle {
    margin: 0px 0;
    text-align: center;
}
.theme-toggle button {
    padding: 10px 20px;
    font-size: 16px;
    background: var(--button-color);
    color: var(--bg-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* -------------------------------Theme preferences------------------------------- */